CompileFlags:
  Add:
    - "-I/Users/jackkilrain/Desktop/Work/Fifth-Year/COMP3300/linux-5.15.78/linux-5.15.78/include"
    - "-I/Users/jackkilrain/Desktop/Work/Fifth-Year/COMP3300/linux-5.15.78/linux-5.15.78/include/asm"
    - "-I/Users/jackkilrain/Desktop/Work/Fifth-Year/COMP3300/linux-5.15.78/linux-5.15.78/include/asm-generic"
    - "-I/Users/jackkilrain/Desktop/Work/Fifth-Year/COMP3300/linux-5.15.78/linux-5.15.78/include/linux"
    - "-I/Users/jackkilrain/Desktop/Work/Fifth-Year/COMP3300/linux-5.15.78/linux-5.15.78/include/uapi"
    - "-I/Users/jackkilrain/Desktop/Work/Fifth-Year/COMP3300/linux-5.15.78/linux-5.15.78/include/generated"
    - "-I/Users/jackkilrain/Desktop/Work/Fifth-Year/COMP3300/linux-5.15.78/linux-5.15.78/arch/x86/include"
    - "-I/Users/jackkilrain/Desktop/Work/Fifth-Year/COMP3300/linux-5.15.78/linux-5.15.78/arch/x86/include/uapi"
    - "-I/Users/jackkilrain/Desktop/Work/Fifth-Year/COMP3300/linux-5.15.78/linux-5.15.78/arch/x86/include/generated"
    - "-I/Users/jackkilrain/Desktop/Work/Fifth-Year/COMP3300/linux-5.15.78/linux-5.15.78/mm"
    - "-I/Users/jackkilrain/Desktop/Work/Fifth-Year/COMP3300/linux-5.15.78/linux-5.15.78/fs"
    - "-I/Users/jackkilrain/Desktop/Work/Fifth-Year/COMP3300/linux-5.15.78/linux-5.15.78/kernel"

